web/WEB-INF/wsdl/localhost_8080/AdminPDF/generaPDF.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://uno/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://uno/">

<xs:element name="IOException" type="tns:IOException"/>

<xs:element name="ensayoPDF" type="tns:ensayoPDF"/>

<xs:element name="ensayoPDFResponse" type="tns:ensayoPDFResponse"/>

<xs:element name="resumenPDF" type="tns:resumenPDF"/>

<xs:element name="resumenPDFResponse" type="tns:resumenPDFResponse"/>

<xs:complexType name="resumenPDF">
<xs:sequence>
<xs:element name="path" type="xs:string" minOccurs="0"/>
<xs:element name="titulo" type="xs:string" minOccurs="0"/>
<xs:element name="contenido" type="xs:string" minOccurs="0"/>
<xs:element name="ref" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="resumenPDFResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="IOException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ensayoPDF">
<xs:sequence>
<xs:element name="path" type="xs:string" minOccurs="0"/>
<xs:element name="titulo" type="xs:string" minOccurs="0"/>
<xs:element name="intro" type="xs:string" minOccurs="0"/>
<xs:element name="desa" type="xs:string" minOccurs="0"/>
<xs:element name="conclu" type="xs:string" minOccurs="0"/>
<xs:element name="ref" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ensayoPDFResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>