web/WEB-INF/wsdl/localhost_8080/AdminPDF/generaPDF.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://uno/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://uno/" name="generaPDF">
<types>
<xsd:schema>
<xsd:import namespace="http://uno/" schemaLocation="http://localhost:8080/AdminPDF/generaPDF?xsd=1"/>
</xsd:schema>
</types>
<message name="ensayoPDF">
<part name="parameters" element="tns:ensayoPDF"/>
</message>
<message name="ensayoPDFResponse">
<part name="parameters" element="tns:ensayoPDFResponse"/>
</message>
<message name="IOException">
<part name="fault" element="tns:IOException"/>
</message>
<message name="resumenPDF">
<part name="parameters" element="tns:resumenPDF"/>
</message>
<message name="resumenPDFResponse">
<part name="parameters" element="tns:resumenPDFResponse"/>
</message>
<portType name="generaPDF">
<operation name="ensayoPDF">
<input wsam:Action="http://uno/generaPDF/ensayoPDFRequest" message="tns:ensayoPDF"/>
<output wsam:Action="http://uno/generaPDF/ensayoPDFResponse" message="tns:ensayoPDFResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://uno/generaPDF/ensayoPDF/Fault/IOException"/>
</operation>
<operation name="resumenPDF">
<input wsam:Action="http://uno/generaPDF/resumenPDFRequest" message="tns:resumenPDF"/>
<output wsam:Action="http://uno/generaPDF/resumenPDFResponse" message="tns:resumenPDFResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://uno/generaPDF/resumenPDF/Fault/IOException"/>
</operation>
</portType>
<binding name="generaPDFPortBinding" type="tns:generaPDF">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="ensayoPDF">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
<operation name="resumenPDF">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
</binding>
<service name="generaPDF">
<port name="generaPDFPort" binding="tns:generaPDFPortBinding">
<soap:address location="http://localhost:8080/AdminPDF/generaPDF"/>
</port>
</service>
</definitions>