src/conf/xml-resources/web-service-references/Servicio/wsdl/localhost_8080/Servidor/Servicio.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Paquete/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Paquete/" name="Servicio">
<types>
<xsd:schema>
<xsd:import namespace="http://Paquete/" schemaLocation="http://localhost:8080/Servidor/Servicio?xsd=1"/>
</xsd:schema>
</types>
<message name="xor">
<part name="parameters" element="tns:xor"/>
</message>
<message name="xorResponse">
<part name="parameters" element="tns:xorResponse"/>
</message>
<message name="actCorreo">
<part name="parameters" element="tns:actCorreo"/>
</message>
<message name="actCorreoResponse">
<part name="parameters" element="tns:actCorreoResponse"/>
</message>
<message name="Cifrado">
<part name="parameters" element="tns:Cifrado"/>
</message>
<message name="CifradoResponse">
<part name="parameters" element="tns:CifradoResponse"/>
</message>
<message name="Basec">
<part name="parameters" element="tns:Basec"/>
</message>
<message name="BasecResponse">
<part name="parameters" element="tns:BasecResponse"/>
</message>
<message name="actContraseña">
<part name="parameters" element="tns:actContraseña"/>
</message>
<message name="actContraseñaResponse">
<part name="parameters" element="tns:actContraseñaResponse"/>
</message>
<message name="actUsuario">
<part name="parameters" element="tns:actUsuario"/>
</message>
<message name="actUsuarioResponse">
<part name="parameters" element="tns:actUsuarioResponse"/>
</message>
<portType name="Servicio">
<operation name="xor">
<input wsam:Action="http://Paquete/Servicio/xorRequest" message="tns:xor"/>
<output wsam:Action="http://Paquete/Servicio/xorResponse" message="tns:xorResponse"/>
</operation>
<operation name="actCorreo">
<input wsam:Action="http://Paquete/Servicio/actCorreoRequest" message="tns:actCorreo"/>
<output wsam:Action="http://Paquete/Servicio/actCorreoResponse" message="tns:actCorreoResponse"/>
</operation>
<operation name="Cifrado">
<input wsam:Action="http://Paquete/Servicio/CifradoRequest" message="tns:Cifrado"/>
<output wsam:Action="http://Paquete/Servicio/CifradoResponse" message="tns:CifradoResponse"/>
</operation>
<operation name="Basec">
<input wsam:Action="http://Paquete/Servicio/BasecRequest" message="tns:Basec"/>
<output wsam:Action="http://Paquete/Servicio/BasecResponse" message="tns:BasecResponse"/>
</operation>
<operation name="actContraseña">
<input wsam:Action="http://Paquete/Servicio/actContraseñaRequest" message="tns:actContraseña"/>
<output wsam:Action="http://Paquete/Servicio/actContraseñaResponse" message="tns:actContraseñaResponse"/>
</operation>
<operation name="actUsuario">
<input wsam:Action="http://Paquete/Servicio/actUsuarioRequest" message="tns:actUsuario"/>
<output wsam:Action="http://Paquete/Servicio/actUsuarioResponse" message="tns:actUsuarioResponse"/>
</operation>
</portType>
<binding name="ServicioPortBinding" type="tns:Servicio">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="xor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="actCorreo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Cifrado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Basec">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="actContraseña">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="actUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Servicio">
<port name="ServicioPort" binding="tns:ServicioPortBinding">
<soap:address location="http://localhost:8080/Servidor/Servicio"/>
</port>
</service>
</definitions>