src/conf/xml-resources/web-service-references/Servicio/wsdl/localhost_8080/Servidor/Servicio.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://Paquete/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Paquete/">

<xs:element name="Basec" type="tns:Basec"/>

<xs:element name="BasecResponse" type="tns:BasecResponse"/>

<xs:element name="Cifrado" type="tns:Cifrado"/>

<xs:element name="CifradoResponse" type="tns:CifradoResponse"/>

<xs:element name="xor" type="tns:xor"/>

<xs:element name="xorResponse" type="tns:xorResponse"/>

<xs:complexType name="Basec">
<xs:sequence>
<xs:element name="Correo" type="xs:string" minOccurs="0"/>
<xs:element name="Usuario" type="xs:string" minOccurs="0"/>
<xs:element name="Contraseña" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="BasecResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Cifrado">
<xs:sequence>
<xs:element name="contra" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CifradoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="xor">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="xorResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>