src/conf/xml-resources/web-service-references/SelloRW/wsdl/localhost_8080/RWSecurity/SelloRW.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://security/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://security/" name="SelloRW">
<wsp:Policy xmlns:soaptcpsvc="http://java.sun.com/xml/ns/wsit/2006/09/policy/soaptcp/service" wsu:Id="SelloRWPortBindingPolicy">
<soaptcpsvc:OptimizedTCPTransport enabled="true"/>
</wsp:Policy>
<types>
<xsd:schema>
<xsd:import namespace="http://security/" schemaLocation="http://localhost:8080/RWSecurity/SelloRW?xsd=1"/>
</xsd:schema>
</types>
<message name="generaSello">
<part name="parameters" element="tns:generaSello"/>
</message>
<message name="generaSelloResponse">
<part name="parameters" element="tns:generaSelloResponse"/>
</message>
<message name="NoSuchAlgorithmException">
<part name="fault" element="tns:NoSuchAlgorithmException"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="generaLlaves">
<part name="parameters" element="tns:generaLlaves"/>
</message>
<message name="generaLlavesResponse">
<part name="parameters" element="tns:generaLlavesResponse"/>
</message>
<message name="traeLlavePublica">
<part name="parameters" element="tns:traeLlavePublica"/>
</message>
<message name="traeLlavePublicaResponse">
<part name="parameters" element="tns:traeLlavePublicaResponse"/>
</message>
<message name="cifra">
<part name="parameters" element="tns:cifra"/>
</message>
<message name="cifraResponse">
<part name="parameters" element="tns:cifraResponse"/>
</message>
<message name="descifra">
<part name="parameters" element="tns:descifra"/>
</message>
<message name="descifraResponse">
<part name="parameters" element="tns:descifraResponse"/>
</message>
<message name="sello">
<part name="parameters" element="tns:sello"/>
</message>
<message name="selloResponse">
<part name="parameters" element="tns:selloResponse"/>
</message>
<portType name="SelloRW">
<operation name="generaSello">
<input wsam:Action="http://security/SelloRW/generaSelloRequest" message="tns:generaSello"/>
<output wsam:Action="http://security/SelloRW/generaSelloResponse" message="tns:generaSelloResponse"/>
<fault message="tns:NoSuchAlgorithmException" name="NoSuchAlgorithmException" wsam:Action="http://security/SelloRW/generaSello/Fault/NoSuchAlgorithmException"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://security/SelloRW/generaSello/Fault/Exception"/>
</operation>
<operation name="generaLlaves">
<input wsam:Action="http://security/SelloRW/generaLlavesRequest" message="tns:generaLlaves"/>
<output wsam:Action="http://security/SelloRW/generaLlavesResponse" message="tns:generaLlavesResponse"/>
</operation>
<operation name="traeLlavePublica">
<input wsam:Action="http://security/SelloRW/traeLlavePublicaRequest" message="tns:traeLlavePublica"/>
<output wsam:Action="http://security/SelloRW/traeLlavePublicaResponse" message="tns:traeLlavePublicaResponse"/>
<fault message="tns:NoSuchAlgorithmException" name="NoSuchAlgorithmException" wsam:Action="http://security/SelloRW/traeLlavePublica/Fault/NoSuchAlgorithmException"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://security/SelloRW/traeLlavePublica/Fault/Exception"/>
</operation>
<operation name="cifra">
<input wsam:Action="http://security/SelloRW/cifraRequest" message="tns:cifra"/>
<output wsam:Action="http://security/SelloRW/cifraResponse" message="tns:cifraResponse"/>
<fault message="tns:NoSuchAlgorithmException" name="NoSuchAlgorithmException" wsam:Action="http://security/SelloRW/cifra/Fault/NoSuchAlgorithmException"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://security/SelloRW/cifra/Fault/Exception"/>
</operation>
<operation name="descifra">
<input wsam:Action="http://security/SelloRW/descifraRequest" message="tns:descifra"/>
<output wsam:Action="http://security/SelloRW/descifraResponse" message="tns:descifraResponse"/>
<fault message="tns:NoSuchAlgorithmException" name="NoSuchAlgorithmException" wsam:Action="http://security/SelloRW/descifra/Fault/NoSuchAlgorithmException"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://security/SelloRW/descifra/Fault/Exception"/>
</operation>
<operation name="sello">
<input wsam:Action="http://security/SelloRW/selloRequest" message="tns:sello"/>
<output wsam:Action="http://security/SelloRW/selloResponse" message="tns:selloResponse"/>
</operation>
</portType>
<binding name="SelloRWPortBinding" type="tns:SelloRW">
<wsp:PolicyReference URI="#SelloRWPortBindingPolicy"/>
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="generaSello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="NoSuchAlgorithmException">
<soap:fault name="NoSuchAlgorithmException" use="literal"/>
</fault>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="generaLlaves">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="traeLlavePublica">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="NoSuchAlgorithmException">
<soap:fault name="NoSuchAlgorithmException" use="literal"/>
</fault>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="cifra">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="NoSuchAlgorithmException">
<soap:fault name="NoSuchAlgorithmException" use="literal"/>
</fault>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="descifra">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="NoSuchAlgorithmException">
<soap:fault name="NoSuchAlgorithmException" use="literal"/>
</fault>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="sello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="SelloRW">
<port name="SelloRWPort" binding="tns:SelloRWPortBinding">
<soap:address location="http://localhost:8080/RWSecurity/SelloRW"/>
</port>
</service>
</definitions>