web/WEB-INF/wsdl/localhost_8080/RWSecurity/SelloRW.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://security/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://security/">

<xs:element name="Exception" type="tns:Exception"/>

<xs:element name="NoSuchAlgorithmException" type="tns:NoSuchAlgorithmException"/>

<xs:element name="cifra" type="tns:cifra"/>

<xs:element name="cifraResponse" type="tns:cifraResponse"/>

<xs:element name="descifra" type="tns:descifra"/>

<xs:element name="descifraResponse" type="tns:descifraResponse"/>

<xs:element name="generaLlaves" type="tns:generaLlaves"/>

<xs:element name="generaLlavesResponse" type="tns:generaLlavesResponse"/>

<xs:element name="generaSello" type="tns:generaSello"/>

<xs:element name="generaSelloResponse" type="tns:generaSelloResponse"/>

<xs:element name="sello" type="tns:sello"/>

<xs:element name="selloResponse" type="tns:selloResponse"/>

<xs:element name="traeLlavePublica" type="tns:traeLlavePublica"/>

<xs:element name="traeLlavePublicaResponse" type="tns:traeLlavePublicaResponse"/>

<xs:complexType name="generaSello">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="generaSelloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="NoSuchAlgorithmException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="descifra">
<xs:sequence>
<xs:element name="encrypted_msg" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="descifraResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="traeLlavePublica">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="traeLlavePublicaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="generaLlaves">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="generaLlavesResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="sello">
<xs:sequence>
<xs:element name="parameter" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="selloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cifra">
<xs:sequence>
<xs:element name="msg" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cifraResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>